body{
    text-align: center;
    background-color: black;
    color: orange;
    font-family: sans-serif;
}

nav ul{
    padding: 0;
}

nav ul li{
    list-style-type: none; 
    display: inline-block;
    width: 50vw;
}
nav ul li a{
    text-decoration: none;
    color: orange;
    font-size: 1.3em;
}

.features-list{
    text-align: left;
}

footer{
    position: absolute;
    bottom: 0;
}

